{$APP_DOMAIN} {
	encode zstd gzip
	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "same-origin"
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
	}
	request_body {
		max_size 320MB
	}
	@metrics path /metrics /metrics/*
	respond @metrics 403
	reverse_proxy nginx:80
}
